In [ ]:
## Today's Lecture Plan

1. Variable and variable names  
2. data and data types - numerical(int, float, complex), dict, bool, set, sequence (str, list, tuple)
# Mutable and Immutable obj
3. Functions (Basic) -> sum, min, max, len, type, print
4. Basic Data structures functions

In [ ]:
- >Variable names Rules

# A variable name must start with a letter or the underscore character
# A variable name cannot start with a number
# A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
# Variable names are case-sensitive (age, Age and AGE are three different variables)
# A variable name cannot be any of the Python keywords.

In [ ]:
# Exercise Create a variable named carname and assign the value Volvo to it.

In [ ]:
# comments

In [8]:
# container to store the value is called variable

a = 10
A = 15
print(A)

15

In [4]:
_a

10

In [ ]:
# data and data types - numerical(int, float, complex), dict, boolean, set, sequence (str, list, tuple)

In [ ]:
Data Types in python
1.numeric - int, float, complex

In [34]:
a = 15
# b = 10.00005
# c = 1+2j 
# print(type(a))

In [9]:
print(type(a))

10

In [20]:
type(b)

float

In [24]:
c = 1+2j
type(c)

complex

In [29]:
a=1
b=2

In [32]:
min(a,b)

1

In [33]:
# create two variables and store float values and apply min function

In [ ]:
2. sequence - str, list, tuple

In [45]:
int_A = 21

In [47]:
str_name = '21'

In [48]:
type(str_name)

str

In [49]:
type(int_A)

int

In [ ]:
# create two variables 
1 store country's name
2. store your name 
3. print the variables 
3. print the type of both variables

In [70]:
str_name = """I am Ram. I am working as a Data Scientist working at collegedunia. 
I am 22 yrs old 
and studied in GCET"""                                                                                                                                                                   
str_name

'I am Ram. I am working as a Data Scientist working at collegedunia. \nI am 22 yrs old \nand studied in GCET'

In [ ]:
\n - > enter or newline
\t -> tab

In [ ]:
3 Multiline strings

# triple single quotes
# triple double quotes

In [63]:
str_passage = """
I am Ram.
I am working as a Data Scientist.
I am 22 yrs old.
"""

In [64]:
type(str_passage)

str

In [52]:
str_country = "India"
str_country

'India'

In [26]:
name = 'Kathryn'

7

In [13]:
name[0:3] # : means starting pos till end position

'Kat'

In [35]:
name[0:7] - python code

'Kathryn'

In [38]:
name[0:7:3]

#[start pos: end pos: step size] * end pos is not included

'Khn'

In [39]:
# 1 Fetch the characters from the string name so that the output is 'thr'
name[2:5]

'thr'

In [ ]:
# 2 Fetch the characters from the end of the string till the start of the 
#   string using negative indexing so that we get the output - 'nyrhtaK'

In [48]:
# Reverse the string 

name[::-1]

'nyrhtaK'

In [54]:
name

'Kathryn'

In [56]:
name.upper()

'KATHRYN'

In [57]:
name.lower()

'kathryn'

In [58]:
name.capitalize()

'Kathryn'

In [62]:
name1='my name is ram baldotra'

In [63]:
name1.capitalize()

'My name is ram baldotra'

In [64]:
name1.title()

'My Name Is Ram Baldotra'

In [65]:
name1

'my name is ram baldotra'

In [66]:
# if name1[0].upper() == name1:
#     print("Yes The first character is capitalized")
# else:
#     print("No , the first char is not capitalized")

'm'

In [67]:
name1[0].upper()

'M'

In [15]:
name[0]

'K'

In [34]:
name[1:3]

'at'

In [14]:
name[3]

'h'

In [ ]:
# String Indexing - fetching single character
# String Slicing - fetching multiple characters

In [ ]:
K-0
a-1
t-2
h-3
r-4
y-5
n-6

In [ ]:
n- -1
y- -2
r- -3
h
t
a
K  -7

In [2]:
len(name)

7

In [3]:
name[0] name='Kathryn'

'K'

In [4]:
name[1]

'a'

In [5]:
name[2]

't'

In [6]:
name[6]

'n'

Negative indexing starting from -1

In [7]:
name[-1] #- means from the last and 1 means the first character

'n'

In [8]:
name[-2]

'y'

In [ ]:
#fetching sequence of characters from a string

In [ ]:
### Today's topics 
1. list, tuple, dict, set, range
2. operators

In [ ]:
#1. list -> it is a collection of elements, list can have elements belonging to any data type

In [1]:
list1 = [1,2,3,4]
type(list1)

list

In [2]:
list1 = [1, 2.0, 'Kathryn', 29]
type(list1)

list

In [ ]:
# Practice -
1. Create a list that has int- > 2 ,3 and float ->8.0 and string - > 'Emily'

In [ ]:
# list functions

In [5]:
list2 = [2,3,8.0,"Emily"]
type(list2)

list

In [7]:
list2

[2, 3, 8.0, 'Emily']

In [8]:
list2.append('Kathryn') # -> adds a value at the end of the list

In [10]:
list2

[2, 3, 8.0, 'Emily', 'Kathryn']

In [11]:
list2.append(4) ->[2, 3, 8.0, 'Emily', 'Kathryn', 4]

In [20]:
list2.insert(2,4) -> (index_pos, element)

In [21]:
list2

[2, 3, 4, 8.0, 'Emily', 'Kathryn', 4]

In [27]:
list1 = [2, 3, 8.0, 'Emily', 'Kathryn']
list1

[2, 3, 8.0, 'Emily', 'Kathryn']

In [28]:
list1.insert(1,4) #-> (index_pos, element)

In [29]:
list1

[2, 4, 3, 8.0, 'Emily', 'Kathryn']

In [30]:
list1.insert(3,5.0)

In [31]:
list1

[2, 4, 3, 5.0, 8.0, 'Emily', 'Kathryn']

In [32]:
list1.remove(5.0) #-> (element)

In [33]:
list1

[2, 4, 3, 8.0, 'Emily', 'Kathryn']

In [34]:
list1.remove('Emily')

In [35]:
list1

[2, 4, 3, 8.0, 'Kathryn']

In [36]:
list1.append(2)

In [37]:
list1

[2, 4, 3, 8.0, 'Kathryn', 2]

In [41]:
list1.count('K') #-> if the element is not present return 0

0

In [42]:
list1

[2, 4, 3, 8.0, 'Kathryn', 2]

In [ ]:
marks of 10 students 
10, 20, 30, 40... 90

In [43]:
list1.insert(5,10)

TypeError: insert expected 2 arguments, got 4

In [44]:
list1.append(20)
list1.append(30)

TypeError: list.append() takes exactly one argument (3 given)

In [45]:
list1.extend([10,20,30,40]) # -> extend appends more than one elements at the end of the list

In [46]:
list1

[2, 4, 3, 8.0, 'Kathryn', 2, 10, 20, 30, 40]

In [48]:
list1[0] = 1

In [49]:
list1

[1, 4, 3, 8.0, 'Kathryn', 2, 10, 20, 30, 40]

In [51]:
list1[0] = 2

In [52]:
list1

[2, 4, 3, 8.0, 'Kathryn', 2, 10, 20, 30, 40]

In [54]:
list1[3] = 12

In [55]:
list1

[2, 4, 3, 12, 'Kathryn', 2, 10, 20, 30, 40]

In [ ]:
# list is Mutable means we can modify the elements of the list

In [ ]:
# string is immutable

In [74]:
name = 'kathryn'
name1 = name.upper()
id(name)

2007171543344

In [75]:
id(name1)

2007171661232

In [77]:
a = '2' #-> digital electronics, 
b = '2'
id(a)

140726357298360

In [78]:
id(b)

140726357298360

In [58]:
country = 'US'# String concatenation

In [65]:
name + " "country

'kathrynUS'

In [62]:
country

'US'

In [63]:
10+2

12

In [72]:
str1 = " " # ->ascii characters / codes

In [73]:
len(str1)

1

In [12]:
list2

[2, 3, 8.0, 'Emily', 'Kathryn', 4]

In [16]:
list2[2] -> list indexing

8.0

In [19]:
list2[3:]

['Emily', 'Kathryn', 4]

In [ ]:
2.tuple - > it can also contains elements belonging to different data types, 
Immutable

In [79]:
tup1 = (1,2,3, 7.0, 'Kathryn')
type(tup1)

tuple

In [81]:
tup1.count(3)

1

In [82]:
len(tup1)

5

In [86]:
tup1[2]

3

In [84]:
tup1[2] = 4

TypeError: 'tuple' object does not support item assignment

In [111]:
tup1 = (1,2,3,4)

In [112]:
type(tup1)

tuple

In [115]:
tup2 = (1,) -> tuple of single element is always written like (element,)

In [116]:
type(tup2)

tuple

In [ ]:
tup = (1)- > int

In [ ]:
#set, dictionary,

In [90]:
list1

[2, 4, 3, 12, 'Kathryn', 2, 10, 20, 30, 40]

In [98]:
del list1 -> deleted the object from the memory

In [93]:
list2

[2, 3, 4, 8.0, 'Emily', 'Kathryn', 4]

In [94]:
list2.clear() #- >clears the content of the object but object is still there

In [97]:
len(list2)

0

In [99]:
list1 #-> empty list

NameError: name 'list1' is not defined

In [ ]:
# var = [1,2] -> list

In [ ]:
# first character is in 0 index

In [ ]:
# 'Last week I was in New Jersey with Monica'

In [ ]:
# NLP -> Natural Language Processing
# nltk  and spacy

In [ ]:
# spacy
# function('Last week I was in New Jersey with Monica').noun()

In [ ]:
pos

In [ ]:
#complex(2,3) or c= 3+6j